@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

$font-family-sans-serif:'Karla', sans-serif;

$primary:hsl(179, 62%, 43%);
$secondary: hsl(71, 73%, 54%);
$info:hsl(218, 22%, 67%);
$danger: hsl(218, 22%, 67%);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body{
    background-color: hsl(204, 43%, 93%);
}

.box-one{

    border-radius:15px 15px 0px 0px;

}

.box-two{
    background-color: rgb(12, 160, 160);
    border-radius:0px 0px 0px 15px;
}

.box-three{
    border-radius:0px 0px 15px 0px;
}

// @media screen and (max-width:560px){
//     .box-two{
//         border-radius: 0;
//     }

//     .box-three{
//         border-radius:0px 0px 15px 15px;
//     }
    
// }

@media screen and (max-width:992px){
    .box-two{
        border-radius: 0;
    }

    .box-three{
        border-radius:0px 0px 15px 15px;
    }
}